Hermeco.Multimarcas.Services/Web References/wsPedidos/CreaPedido_Sync_Out.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:p1="urn:creaPedido:modelo:sap" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" name="CreaPedido_Sync_Out" targetNamespace="urn:creaPedido:modelo:sap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation />
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="OP_CreaPedido_Sync_Out" />
  <wsdl:types>
    <xsd:schema xmlns="urn:creaPedido:modelo:sap" targetNamespace="urn:creaPedido:modelo:sap" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:element name="ConfirmaPed" type="p1:ConfirmaPed" />
      <xsd:element name="PedidoVenta" type="p1:InfoPedidos" />
      <xsd:complexType name="CabeceraResp">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">aee28495401e11e3ce1d00000031bb72</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="NumPedido" type="xsd:string" />
          <xsd:element minOccurs="0" name="TipoPedido" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CabeceraPed">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">255f22bf88a111e3c61100000031bb72</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="TipoDoc" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7cbf147f401e11e3beb70027104e98c8</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="DocRef" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7cbf1481401e11e387600027104e98c8</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Moneda" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7cbf1482401e11e3ada30027104e98c8</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="NoCliente" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7cbf1484401e11e3c9f30027104e98c8</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Dest_Mercancia" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7cbf1485401e11e3b3380027104e98c8</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Dest_Factura" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">dc1a1ac356bb11e398fe025041000001</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Vendedor" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7cbf1486401e11e39cc30027104e98c8</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="FechaEntrega" type="xsd:date">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7cbf1487401e11e399df0027104e98c8</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Observaciones" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">7cbf1488401e11e3adb70027104e98c8</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="FechaDoc" type="xsd:date">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">cf96fa7856b411e3c4a4025041000001</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Condpago" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">cf96fa7956b411e3ce98025041000001</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Grupovend" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">cf96fa7a56b411e3a79d025041000001</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Flete" type="xsd:decimal" />
          <xsd:element minOccurs="0" name="Ind_entrega" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">cf96fa7c56b411e3b904025041000001</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Ind_bloqueo" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">e6e77948830411e3ab2b00271041413c</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Ind_reserva" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">2f16451d88a111e3bd9800271041413c</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Ind_asigStock" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">2f16451e88a111e3963400271041413c</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InfoPedidos">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">67a04cb38d5111e3ad8f00000031bb72</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Cabecera" type="p1:CabeceraPed">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">07e8f1866bf411e38328e89a8fb0ae27</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" name="Posiciones" type="p1:PosicionesPed">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">07e8f1876bf411e3c5d3e89a8fb0ae27</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Interlocutor" type="p1:Interlocutor" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PosicionesPed">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">5bb56ff656b911e3a87300000031bb72</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Tipo_posicion" type="xsd:string" />
          <xsd:element minOccurs="0" name="Material" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">86f2495556b911e3bf1b025041000001</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="PLU" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">c4e5fcf156b911e3c014025041000001</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Cantidad" type="xsd:decimal">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">86f2495656b911e3b496025041000001</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Unidad" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">86f2495756b911e38543025041000001</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Valor_matriz" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">86f2495856b911e3b299025041000001</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Precio" type="xsd:decimal">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">86f2495956b911e3a354025041000001</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="Observaciones" type="xsd:string">
            <xsd:annotation>
              <xsd:appinfo source="http://sap.com/xi/TextID">86f2495a56b911e3c03e025041000001</xsd:appinfo>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PosicionesResp">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">35e6c5b8401f11e3b01f00000031bb72</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="TipoMjs" type="xsd:string" />
          <xsd:element minOccurs="0" name="TextoMjs" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ConfirmaPed">
        <xsd:annotation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">4a76b4b1402311e38c7e00000031bb72</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Cabecera" type="p1:CabeceraResp" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Mensajes" type="p1:PosicionesResp" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Interlocutor">
        <xsd:annotation>
          <xsd:documentation xml:lang="EN">Interlocutores del pedido</xsd:documentation>
          <xsd:appinfo source="http://sap.com/xi/VersionID">530b0c758d5111e3b0f400000031bb72</xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element minOccurs="0" name="Tipo_inter" type="xsd:string" />
          <xsd:element minOccurs="0" name="Nombre1" type="xsd:string" />
          <xsd:element minOccurs="0" name="Nombre2" type="xsd:string" />
          <xsd:element minOccurs="0" name="Apellido1" type="xsd:string" />
          <xsd:element minOccurs="0" name="Apellido2" type="xsd:string" />
          <xsd:element minOccurs="0" name="Direccion" type="xsd:string" />
          <xsd:element minOccurs="0" name="Pais" type="xsd:string" />
          <xsd:element minOccurs="0" name="Departamento" type="xsd:string" />
          <xsd:element minOccurs="0" name="Ciudad" type="xsd:string" />
          <xsd:element minOccurs="0" name="Telefono" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="PedidoVenta">
    <wsdl:documentation />
    <wsdl:part name="PedidoVenta" element="p1:PedidoVenta" />
  </wsdl:message>
  <wsdl:message name="ConfirmaPed">
    <wsdl:documentation />
    <wsdl:part name="ConfirmaPed" element="p1:ConfirmaPed" />
  </wsdl:message>
  <wsdl:portType name="CreaPedido_Sync_Out">
    <wsdl:documentation />
    <wsdl:operation name="CreaPedido_Sync_Out">
      <wsdl:documentation />
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_CreaPedido_Sync_Out" />
      </wsp:Policy>
      <wsdl:input message="p1:PedidoVenta" />
      <wsdl:output message="p1:ConfirmaPed" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreaPedido_Sync_OutBinding" type="p1:CreaPedido_Sync_Out">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <wsdl:operation name="CreaPedido_Sync_Out">
      <operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <wsdl:input>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:input>
      <wsdl:output>
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreaPedido_Sync_OutService">
    <wsdl:port name="HTTP_Port" binding="p1:CreaPedido_Sync_OutBinding">
      <address location="http://hermeconpiprd.hermeco.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SAP_I_MODELO_BS&amp;receiverParty=&amp;receiverService=&amp;interface=CreaPedido_Sync_Out&amp;interfaceNamespace=urn%3AcreaPedido%3Amodelo%3Asap" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
    <wsdl:port name="HTTPS_Port" binding="p1:CreaPedido_Sync_OutBinding">
      <address location="https://hermeconpiprd.hermeco.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=SAP_I_MODELO_BS&amp;receiverParty=&amp;receiverService=&amp;interface=CreaPedido_Sync_Out&amp;interfaceNamespace=urn%3AcreaPedido%3Amodelo%3Asap" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>